PORT=4000
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:4000/api/auth/google/callback
GOOGLE_RETURN_URL=http://localhost:5500/login
GOOGLE_LOG_SINK_NAME=campushaven-bq-sink
GOOGLE_LOG_SINK_DESTINATION=bigquery.googleapis.com/projects/astute-vortex-450105-a8/datasets/campushaven2009
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-user
SMTP_PASS=your-smtp-password
SMTP_FROM=CampusHaven <no-reply@example.com>
